# .gitignore

# Python
*.pyc
__pycache__/
*.log
*.pot
*.pyc
*.sqlite3

# Environment variables
.env
.env.local
.env.production

# Virtual Environment
venv/
env/
minenv310/
*.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Django
staticfiles/
media/
db.sqlite3

# Deployment
*.pid
*.lock
.DS_Store

# Secrets
*_secret_key.txt
*.pem

# Docker
Dockerfile
start.sh
requirements.txt
.dockerignore

__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3
db.sqlite3
.env
venv
minenv310
.git
.gitignore
README.md
*.log
datadump.json
.DS_Store
*.pid
*.lock
.DS_Store