{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} 
Create a New Account

{% endblock %}

{% block content %}
<div>
    {% if not form.is_valid %}
    <div class="mx-auto">
        <br>
        <h1 class="product_title text-center">
            Create a new account
        </h1>
        <br>
        <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
            <br>
            <p>Enter the following information to create a new account</p>
            <form method="post">
                {% csrf_token %}
                {{ form.honeypot }}  {# Hidden field that bots will fill but humans won't #}
                <p>{{ form | crispy }}</p>
                <button type="submit" name="button" class="btn btn-secondary">Sign Up</button>

            </form>
            <br>
        </div>
    </div>
    {% elif email_exists %}
        <div class="alert alert-danger">
            <h1 class="product_title text-center">
                An account with this email ({{ email }}) already exists.
                 
                <a href="{% url 'signup' %}">
                    Click Here
                </a> To try a different email
            </h1>
            
        </div>
    {% else %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bg-success text-white">
                            <h4>Check Your Email</h4>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-info">
                                <i class="fas fa-envelope"></i>
                                <strong>Confirmation email sent to {{ email }}!</strong>
                            </div>
                            <p>We've sent a confirmation link to your email address.</p>
                            <p>Please check your inbox and click the link to activate your account.</p>
                            <div class="alert alert-warning">
                                <small>
                                    <i class="fas fa-info-circle"></i>
                                    Didn't receive the email? Check your spam folder.
                                </small>
                            </div>
                            <a href="{% url 'home' %}" class="btn btn-primary">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           
    {% endif %}

</div>
<br>
{% endblock %}